*, *:before *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-ms-clear{
  display: none;
}

::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  font-family: Geneva, Verdana, Georgia, sans-serif;
  font-size: 18px;
  background-color: #000;
  color: #FFF;
}

header {
  height: 950px;
  background: url(../images/jkomoon.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
}

#Name{
  font-family: Monaco, sans-serif;
  margin-top: 45%;
  text-align: center;
  color: #FFF;
  font-size: 50px;
}

#nav {
  position: fixed;
  width:100%;
  background: transparent;
  z-index: 1;
}

#navWrapper {
  margin: 0 auto;
  text-align: left;
}

#nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
}

#nav ul li {
  display: inline-block;
}

#nav ul li:hover {
  background-color: #333;
}

#nav ul li a,visited {
  color: #ccc;
  display: block;
  padding: 15px;
  text-decoration: none;
}

#nav ul li a:hover {
  color: #ccc;
  text-decoration: none;
}

#nav ul li:hover ul {
  display: block;
}

#nav ul ul {
  display: none;
  position: absolute;
  background-color: #333;
}

#nav ul ul li {
  display: block;
}

#nav ul ul li a, visited {
  color: #ccc;
}

#nav ul ul li a:hover {
  background-color: #FFF;
  color: #145AA1;
}

.AboutColLeft h1 {
  font-family: Monaco, monospace;
  text-align: center;
  font-weight: bold;
}

#AboutMe {
  padding-top: 3%;
  padding-left: 6%;
  padding-right: 10%;
  padding-bottom: 10%;
  background-color: #2B2929;
  color: #FFF;
  height: auto;
  overflow-y: scroll;
}

.AboutColLeft {
  margin-top: 5%;
  float: left;
  width: 50%;
}

.AboutColRight {
  float: right;
  margin-top: 3%;
  width: 300px;
  height: 300px;
}

.CircleHolder1{
  height: 100%;
  width: 100%;
  background: url(../images/Jinko01.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  border-radius: 50%;
}

.CircleHolder2{
  height: 100%;
  width: 100%;
  background: url(../images/Jinko02.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  border-radius: 50%;
}

.CircleHolder3{
  height: 100%;
  width: 100%;
  margin-bottom: 25%;
  background: url(../images/Jinko03.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-attachment: fixed;
  border-radius: 50%;
}

#Projects {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  background-color: #555353;
  overflow-y: scroll;
}

#Projects h1{
  font-family: Monaco, monospace;
  color: #FFF;
  font-weight: bold;
  text-indent: 5%;
}

.containerProjects {
  position: relative;
  width: 85%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin: 0 auto;
  background: none;
}

.modal-container .btn, .modal-container .btn btn-primary,
.modal-container .btn:hover, .modal-container .btn:enabled {
  padding: 0;
  margin: 1%;
  border: 0;
  outline: 0;
  background: none;
  text-align: center;
  width: 300px;
  height: 300px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: scroll;
}

.modal .modal-dialog {
  position: fixed;
  margin: 0;
  width: 100% ;
  height: 100% ;
  padding: 0;
}

.modal .modal-dialog .modal-content {
  background: rgba(0, 0, 0, 0.7);
  color: #FFF;
}

.modal .modal-dialog .modal-content .modal-body {
  font-family: Arial, sans-serif;
}

.modal .close {
  color: #fff;
  opacity: 1;
}

#flip-container {
  width: 300px;
  height: 300px;
}

#flip-container {
  perspective: 1000;
}

#flipper-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#flip-container:hover #flipper-card {
  transform: rotateY(180deg);
}

.front-face {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.back-face {
  width: 100%;
  height: 100%;
  display: block;
  transform: rotateY(180deg);
  box-sizing: border-box;
  padding: 5%;
  color: white;
  font-size: 0.7em;
  background-color: #aaa;
  text-align: center;
  word-wrap: break-word;
  word-break: keep-all;
  white-space: normal;
}

.back-face h3 {
  font-family: Monaco, monospace;
}

.back-face p {
  font-family: Geneva, serif;
  font-size: 14px;
}

#Contact {
  padding-top: 10%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 15%;
  background-color: #706D6D;
  height: auto;
}

.container {
  position: relative;
  width: 50%;
  margin: 0 auto;
}

.container:first-of-type {
  top: 5%;
}

.container  h1{
  font-family: Monaco, monospace;
  font-weight: bold;
  text-align: center;
  padding-bottom: 5%;
}

#Contact {
  text-align: center;
  object-position: center;
}

#Contact h1{
  font-family: Monaco, monospace;
  color: #FFF;
  font-weight: bold;
  text-indent: 5%;
}

footer {
  background-color: #1B1A1A;
  font-family: Monaco, monospace;
  color: #FFF;
  padding: 3%;
  text-align: center;
  font-size: 80%;
  overflow:scroll;
}

footer nav a {
  padding: 1%;
}
